@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Somos Clientes</h1>
    @Html.ActionLink("Lista de usuarios", "Index", "User", null, new { @class = "btn btn-danger" })
    @Html.ActionLink("Crear de usuarios", "Create", "User", null, new { @class = "btn btn-danger" })
    @Html.ActionLink("Crear Producto", "Create", "Producto", null, new { @class = "btn btn-danger" })
    @Html.ActionLink("Crear Pedido", "Create", "Pedido", null, new { @class = "btn btn-danger" })
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
